# --- reCAPTCHA ---
# Для localhost: либо RECAPTCHA_DISABLED=1, либо тестовые ключи Google (работают на любом домене):
# RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
# RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxM0lNa7orv0cMwuY
# Для боевых ключей добавьте localhost в https://www.google.com/recaptcha/admin
RECAPTCHA_DISABLED=1
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=insects_db
DB_USER=wedben
DB_PASSWORD=
