RECAPTCHA_SITE_KEY=6LdR49IsAAAAACH2Lx-uZEvp00KGFlf0Jif1G2gH
RECAPTCHA_SECRET_KEY=6LdR49IsAAAAAGAclyTx8MoY-vaGTPAuWaxoV0yy

DB_HOST=localhost
DB_PORT=5432
DB_NAME=insects_db
DB_USER=wedben
DB_PASSWORD=
